conda create -n datac python=3

conda install -c conda-forge matplotlib numpy pandas jupyter notebook nltk
conda install -c anaconda scipy scikit-learn
conda install -c plotly plotly
conda install -c conda-forge cufflinks-py
conda install -c plotly chart-studio
conda install -c conda-forge jupyterlab-plotly-extension
conda install psutil
conda install -c plotly plotly-orca psutil requests

https://github.com/plotly/plotly.py#jupyterlab-support-python-35
